*~
*.o
*.a
.libs
.deps
old
Makefile
autom4te.cache
config.guess
kr_config.h
kr_config.h.in
config.log
config.status
libtool
*.lo
*.la
stamp-h1
*.pyc
*.pc
tags
bindings/java/krengine-1.0.0.jar
bindings/java/krengine-java.stamp
bindings/java/krengine_wrap.c
bindings/java/org/
bindings/python/krengine_wrap.c
bindings/python/krengine.py
/dbs/rapodbc
/krtools/kriface/kriface
/krserver/krserver
/krshell/krshell
/tests/*_test
