*~
*.o
*.a
.libs
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
compile
*.lo
*.la
stamp-h1
*.pyc
*.pc
tags
/dbs/dbs/*.h
/dbs/dbs/*.c
bindings/java/krengine-1.0.0.jar
bindings/java/krengine-java.stamp
bindings/java/krengine_wrap.c
bindings/java/org/
bindings/python/krengine_wrap.c
/dbs/rapodbc
/kriface/kriface
/krserver/krserver
/krshell/krshell
/krcoordi/krcoordi
/tests/*_test
